<div class="d-flex justify-content-center mt-5">
    <div class="col-12">
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          
              <!-- Icon -->
              <div class="fadeIn first">
                <img src="../../../assets/images/buy-and-sell-logo.png" id="icon" alt="User Icon" />
              </div>
          
              <!-- Login Form 
               //ngSubmit is an angular forms directive
               // THAT AUTOMATICALLY HOOKS UP TO THE FORM BUTTON
            -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input formControlName="email" type="text" id="login" class="fadeIn second" name="email" placeholder="email">
                <span class="text-danger" 
				*ngIf="loginForm.get('email').invalid
                  && loginForm.get('email').touched
                  && loginForm.get('email').errors['required']
                  ">
                  Email address is required
                </span>
				<span class="text-danger" 
				*ngIf="loginForm.get('email').invalid
				&& loginForm.get('email').touched
				&& loginForm.get('email').errors['pattern']
				">
					Email address is not valid
				</span>
                <input formControlName="password" type="text" id="password" class="fadeIn third" name="password" placeholder="password">
				<span class="text-danger" 
					*ngIf=" loginForm.get('password').invalid
					&& loginForm.get('password').touched
					&& loginForm.get('password').errors['required']">
					Password is required
				</span>
                <input type="submit" [disabled]="!loginForm.valid" class="fadeIn fourth" value="Log In">
              </form>

              <div class col-4>
                <p>Form Status: {{loginForm.status}}</p>
                <p>Emai Status: {{loginForm.get('email').status}}</p>
                <p>Emai Touched: {{loginForm.get('email').touched}}</p>
                <p>Emai Dirty: {{loginForm.get('email').dirty}}</p>
                <pre>{{loginForm.value | json}} </pre>
              </div>
          
              <!-- Remind Passowrd -->
              <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
              </div>
          
            </div>
          </div>
    </div>
</div>
