<header>
    <span *ngIf="totalCount && totalCount > 0">
    Showing 
    <strong>
      {{( pageNumber -1) * pageSize +1 }} -
      {{ pageNumber * pageSize 
          > this.totalCount
          ? this.totalCount
          : pageNumber * pageSize
        }}
        <!-- were making sure if nothing comes back. we show there are no results for that particular filter -->
    </strong> of <strong>{{ this.totalCount }}</strong> Results</span>
    <span *ngIf="totalCount === 0">
      There are <strong>0</strong> results for this filter
    </span>
  </header>